body {
  margin:0;
  padding:0;
}


div#content{
  width:100%;
  height:100%;
  position:absolute;
}
#columns-container {
  position:relative;
  height: 100%;
  width: 100%;
}

.column {
  position: absolute;
}

.column-a {
  top: 0%;
  bottom: 0;
  right: 80%;
  left: 0;
}

.column-b {
  background-color: #bbf1c8;
  top: 0%;
  bottom: 0;
  right: 25%;
  left: 25%;
}

.column-c {
  top: 0%;
  bottom: 0;
  right: 0%;
  left: 80%;
}
.centered {
  margin-top: 0;
  text-align: center;
}
