input[type=date] {
  background-color: white;
  border: none;
  color: #0d0d0d;
  padding: 15px 50px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=date]:focus {
  background-color:white;
  border-bottom: 2px solid black;
}

input[type=date]:placeholder {
  color: black;
}
input[type=password] {
  background-color: white;
  border: none;
  color: #0d0d0d;
  padding: 15px 50px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color:white;
  border-bottom: 2px solid black;
}

input[type=password]:placeholder {
  color: black;
}
input[type=email] {
  background-color: white;
  border: none;
  color: #0d0d0d;
  padding: 15px 50px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=email]:focus {
  background-color:white;
  border-bottom: 2px solid black;
}

input[type=email]:placeholder {
  color: black;
}
input[type=number] {
  background-color: white;
  border: none;
  color: #0d0d0d;
  padding: 15px 50px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=number]:focus {
  background-color:white;
  border-bottom: 2px solid black;
}

input[type=number]:placeholder {
  color: black;
}

input[type=text] {
  background-color: white;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color:white;
  border-bottom: 2px solid black;
}

input[type=text]:placeholder {
  color: black;
}
select{
  background-color: white;
  border: none;
  color: #0d0d0d;
  padding: 15px 50px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

select:focus {
  background-color:white;
  border-bottom: 2px solid black;
}

select:placeholder {
  color: black;
}
