
<div id="container" >
  <div id="content">
    <div id="columns-container">
      <div class="column column-b">
        <div class="centered" style="margin-top:15%;">
          <table>
            <tr>
              <td *ngIf="this.authenticationService.currentUserValue" ><app-messageperso></app-messageperso></td>
              <td *ngIf="!this.authenticationService.currentUserValue" >
                <div>
                  <p>
                    Inscris-toi pour profiter des evenements de la communauté !
                  </p>
                <button type="button" class="btn btn-primary" style="border-color: black;"  routerLink="/signin"  routerLinkActive="active-link">Inscription</button>
              </div>

              </td>
            </tr>
          </table>
        </div>
        <div class="centered">
          <table>
            <tr>
              <td>
                <div class="card border" style="width: 18rem;">
                  <div class="card-body">
                    <p>
                      Faites votre Tests !
                    </p>
                    <p>
                      Mieux vous situez
                    </p>
                    <p>
                      <button type="button" class="btn btn-primary" style="border-color: black;"  >Votre Test</button>
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <div class="card border" style="width: 18rem;">
                  <div class="card-body">
                    <p>
                      Travaillez en sécurité !
                    </p>
                    <p>
                      Nos conseils
                    </p>
                    <p>
                      <button type="button" class="btn btn-primary" style="border-color: black;"  >En savoir plus</button>
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

