
<div id="container" >
  <div id="content">
    <div id="columns-container">
      <div class="column column-b">
        <div class="centered" style="margin-top:15%;">
          <table>
            <tr>
              <td *ngIf="this.authenticationService.currentUserValue" ><app-messageperso></app-messageperso></td>
              <td *ngIf="!this.authenticationService.currentUserValue" >
                <div>
                  <p>
                    Inscris-toi pour profiter des evenements de la communauté !
                  </p>
                <button type="button" class="btn btn-light" style="border-color: black;"  routerLink="/signin"  routerLinkActive="active-link">Inscription</button>
              </div>

              </td>
            </tr>
          </table>
        </div>
        <div class="centered" style="margin-top:5%;">
          <table>
            <tr>
              <td>Salut Michel ! Pret pour une activités aujourd'hui ? </td>
              <td>Salut Michel ! Pret pour une activités aujourd'hui ? </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

