
<div id="container" >
  <div id="content">
    <div id="columns-container">
        <div class="centered" style="margin-top:15%;">
          <table>
            <tr>
              <td>Salut Michel ! Pret pour une activités aujourd'hui ? </td>
            </tr>
          </table>
        </div>
        <div class="centered" style="margin-top:5%;">
          <table>
            <tr>
              <td>Salut Michel ! Pret pour une activités aujourd'hui ? </td>
              <td>Salut Michel ! Pret pour une activités aujourd'hui ? </td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div>

