div#content{
  width:100%;
  height:100%;
  position:absolute;
}
#columns-container {
  position:relative;
  height: 100%;
  width: 100%;
}

.column {
  position: absolute;
}

.column-a {
  top: 15%;
  bottom: 0;
  right: 80%;
  left: 0;
}

.column-b {
  height : 100vh;
  z-index: -1000;
  bottom: 0;
  right: 25%;
  left: 25%;
  background-color: #BBF1C8;
}

.column-c {
  top: 15%;
  bottom: 0;
  right: 0%;
  left: 80%;
}
.centered {
  margin-top: 20px ;
  text-align: center;
}

table, tr {
  text-align: center;
  border-collapse: separate;
  margin-left:auto;
  margin-right:auto;
}

td {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  text-align: center;
  border: 2px solid black;
  border-collapse: separate;
  border-spacing: 10px;
}
