<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Close -->
    <div style="margin-right: 5px;margin-top: 5px;" align="right">
      <button type="button" class="btn btn-primary" style="text-align: right; display: inline-block;"  routerLink="/accueil"  routerLinkActive="active-link" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>



    <!-- Login Form -->
    <form [formGroup]="loginForm" style="padding-bottom: 100px">
      <div class="form-group">
        <div class="fadeIn first">
          <H2>Inscription</H2>
        </div>
        <label for="email">Adresse email</label>
        <input type="email" formControlName="email" class="form-control" />
      </div>
      <button [disabled]="loading" class="btn btn-primary" routerLink="/inscription/page1"  routerLinkActive="active-link" >
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Inscription
      </button>
    </form>

  </div>
</div>
