
<div id="container" >
  <div id="content">
    <div id="columns-container">
      <div class="column column-b">
        <div class="centered" style="margin-top:15%;" >
          <div align="center">
          <tr>
            <td>
              <label for="prenom">Prenom :</label>
            </td>
            <td>
              <label for="nom">Nom :</label>
            </td>
            <td>
              <label for="birthday">Date de naissance:</label>
            </td>
          </tr>

          <tr>
            <td>
              <input type="text" id="prenom" name="user_firstname">
            </td>
            <td>
              <input type="text" id="nom" name="user_name">
            </td>
            <td>
              <input type="date" id="birthday" name="user_birthday"
                     value="2020-07-01"
                     min="1950-01-01" max="2000-12-31">
            </td>
          </tr>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

