<body >

<div class="split left">
  <div class="centered">
    <h2>
      Bienvenue sur Actif Ensemble!
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ipsum eu ex rutrum aliquam ut
      quis sem. Aliquam iaculis porttitor lacus. Proin et nunc venenatis, blandit metus in, pulvinar ex.
      Quisque pulvinar massa ac lectus bibendum sodales. Morbi mollis quam quis nunc consequat, in volutpat ex vestibulum.
      Nunc nec lorem vel lectus sollicitudin pellentesque eget sit amet mauris.
      hasellus placerat risus diam, tincidunt tempus libero condimentum vel.
      Nunc tempus condimentum lorem ut maximus. Aenean elementum urna ut mi scelerisque, in hendrerit leo eleifend. Vestibulum sollicitudin, ipsum non malesuada lobortis, diam nulla tempor metus, nec vulputate nulla lorem at ipsum. Pellentesque molestie posuere justo, non gravida leo elementum facilisis.
    </p>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h2>Créer un compte</h2>
    <p>C'est facile et rapide</p>
    <button type="button" class="btn btn-light" style="border-color: black;">
      Inscription
    </button>
  </div>
</div>
</body>
