<div id="container" >
  <div id="content">
    <div id="columns-container">
      <div class="column column-b">
        <div class="centered" style="margin-top:15%;">


<div class="card border border-dark rounded"
     style="width: 18rem; margin: 0 auto; float: none; margin-bottom: 10px; ">
  <img src="./assets/img/rando.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">perte de poids</h5>
  </div>
</div>

<div class="card border border-dark rounded" style="width: 18rem;">
  <img src="./assets/img/squat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Squat</h5>
    <a href="#" class="btn btn-primary" routerLink="/nos-activites/perte-de-poids"  routerLinkActive="active-link" >Voir plus</a>
  </div>
</div>


        </div>
      </div>
    </div>
  </div>
</div>
