
<body>

<div class="box">

<figure>
  <img src="assets/img/logo.png">
</figure>


    <div class="selected">
      <tr>
        <td>
          <label for="email">Adresse e-mail </label>
        </td>
        <td>
          <label for="mdp">Mot de passe </label>

        </td>
      </tr>
      <tr>
        <td>
          <input type="text" id="email" name="email"
                 placeholder="John@Outlook.fr"
                 size="10">
        </td>
        <td>
          <input type="text" id="mdp" name="mdp"
                   placeholder="************"
                   size="10">
        </td>
        <td>
          <button class="button"
                  type="button">
            Continuer
          </button>
        </td>
      </tr>

    </div>


</div>


</body>
