
/* Split the screen in half */

.app main, .app footer {
  padding-left: 1rem;
}

.footer {
  background: #80BDAB;
  padding: 2em;
}
btn {
  background-color: white;
  color: black;
  text-align: center;
}
