<div id="container" >
  <div id="content">
    <div id="columns-container">
      <div class="column column-b">
        <div class="centered" style="margin-top:10%;">

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card border border-dark rounded">
        <div class="card-horizontal">
          <div class="card-body">
            <table align="center" >
              <tr>
                <td>
                  <label for="Actvite">Mot clés:</label>
                </td>
              <td>
                <label for="Actvite">Activité:</label>
              </td>
              <td>
                <label for="start">Date:</label>
              </td>
              <td>
                <label for="difficulte">Difficulté:</label>
              </td>
            </tr>
            <tr>
              <td>
                <input class="form-control form-control-sm " type="text" placeholder="Search"
                       aria-label="Search">
              </td>
              <td>
                <select name="Actvite" id="actvite">
                  <option value="randonne">randonne</option>
                  <option value="tennis">tennis</option>
                </select>
              </td>
              <td>
                <input type="date" id="start" name="trip-start"
                       value="2020-07-01"
                       min="2020-01-01" max="2021-12-31">
              </td>
              <td>
                <select name="difficulte" id="difficulte">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </td>
            </tr>
            </table>
            <button type="button" class="btn btn-primary" style="border-color: black; margin-top: 20px;" >Rechercher une activité</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card border border-dark rounded">
        <div class="card-horizontal">
          <div class="img-square-wrapper" >
            <p align="left">
              Date: 27/07/2020 14:00
            </p>
            <p align="left">
              Difficulté : 5 a 10
            </p>
            <img  src="./assets/img/rando.jpg" width="300px" height="180px" alt="Card image cap">
          </div>
          <div class="card-body">
            <h4 class="card-title">Randonnée dans les vosges</h4>
            <p align="left">Description : </p>
            <p align="left">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse arcu quam, laoreet sit amet hendrerit ut, consectetur eu erat. Donec tincidunt augue quis pulvinar tempus. Vivamus ultrices feugiat lectus, fermentum ullamcorper lectus tincidunt sit amet. Pellentesque bibendum eu massa sed eleifend. Nullam et odio tincidunt, tincidunt ante sed, gravida urna. Maecenas bibendum eget massa ut condimentum. Fusce non placerat quam. Aenean dolor ante, pulvinar ut tempor eget, feugiat vel lectus. Donec sit amet dolor libero. Donec accumsan est eget mi posuere laoreet. Mauris vel massa vitae lorem ullamcorper dapibus id ut turpis. Cras aliquam magna sed arcu consectetur, nec egestas lorem ullamcorper.
            </p>
          </div>
        </div>
        <div class="card-footer border-top border-dark">
          <p><button type="button" class="btn btn-primary" style="border-color: black;" >Inscription</button></p>
          <p><small class="text-muted">Nombre d'inscrit : 10</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
