
<div id="container" >
  <div id="content">
    <div id="columns-container">
      <div class="column column-b">
        <div class="centered" style="margin-top:15%;">
          <table style="margin: auto;">
            <tr>
              <td>
                <div class="card border border-dark rounded" style="width: 18rem;">
                  <img src="./assets/img/rando.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">perte de poids</h5>
                    <a href="#" class="btn btn-primary" routerLink="/nos-activites/perte-de-poids"  routerLinkActive="active-link" >Voir plus</a>
                  </div>
                </div>
              </td>
              <td>
                <div class="card border border-dark rounded" style="width: 18rem;">
                  <img src="./assets/img/rando.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Type de sport</h5>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                  </div>
                </div>
              </td>
              <td>
                <div class="card border border-dark rounded" style="width: 18rem;">
                  <img src="./assets/img/rando.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Type de sport</h5>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="card border border-dark rounded" style="width: 18rem;">
                  <img src="./assets/img/rando.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Type de sport</h5>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                  </div>
                </div>
              </td>
              <td>
                <div class="card border border-dark rounded" style="width: 18rem;">
                  <img src="./assets/img/rando.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Type de sport</h5>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                  </div>
                </div>
              </td>
              <td>
                <div class="card border border-dark rounded" style="width: 18rem;">
                  <img src="./assets/img/rando.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Type de sport</h5>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

