<nav class="navbar navbar-expand-lg fixed-top navbar-mainbg">
  <img src="./assets/img/logo.png" height="60" alt="Actif-Ensemble">
  <a class="navbar-brand navbar-logo" href="#">Actif-Ensemble</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: -250px;">
    <ul class="navbar-nav navbar-static-top" style="margin:auto;" >
      <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);"  routerLink="/main/accueil">
          <i class="fas fa-tachometer-alt"></i>home
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);"  routerLink="/main/nos-activites">
          <i class="fas fa-tachometer-alt"></i>nos activités
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);"  routerLink="/main/ma-communaute">
          <i class="fas fa-tachometer-alt"></i>ma communauté
        </a>
      </li>
    </ul>
  </div>
</nav>
