/* You can add global styles to this file, and also import other style files */
div#content{
  width:100%;
  height:100%;
  position:absolute;
}
#columns-container {
  position:relative;
  height: 100%;
  width: 100%;
}

.centered {
  margin-top: 20px ;
  text-align: center;
}


.plan2{
  position: fixed;
  z-index:1;
}
.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}
